a {
    color: #8ed250;
    text-decoration: underline;
}
a:hover {
    color: #50893a;
    text-decoration: none;
}
#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navigation li {
    float: left;
}