
@font-face {
    font-family: Roboto;
    src: url(https://fonts.googleapis.com/css?family=Roboto);
}


body {
    margin: 0px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 145%;
}

#content {
    width:1170px;
    display: block;
    margin: auto;
    margin-top: 80px;
}

table {
    border-spacing: 0px;
    width: 100%;
    text-align: left;
}

th {
    padding: 10px;
    border-bottom: 2px solid #cbcbcb;
}

td {
    padding: 8px;
    border-bottom: 1px solid #cbcbcb;
}

a {
    color: #8ed250;
    text-decoration: underline;
}

a:hover {
    color: #71955d;
    text-decoration: none;
}

nav {
    height: 80px;
    overflow: hidden;
    /*position: fixed;*/
}

#navigation {
    line-height: 80px;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    list-style-type: none;
    overflow: hidden;
    border-bottom: 1px solid #cbcbcb;
    background-image: linear-gradient(#cbcbcb, #e2e2e2);
}

#navigation li {
    float: left;
    padding: 0 2% 0 2%;
    border-right: 1px solid #cbcbcb;
    background-color: inherit;
    color: #848484;
    transition: color 500ms, background-color 500ms;

}

#navigation li:hover {
    background-color: #cbcbcb;
    color: black;
    transition: color 700ms, background-color 700ms;
}

#logo_li {
    width: 170px;
    height: 80px;
    background-image: linear-gradient(#cbcbcb, #e2e2e2);
}

#logo_li:hover {
    color: #848484;
}

#logo {
    overflow: hidden;
}

#logo:hover {
    margin-top: -80px;
}

article {
    margin-top:5%;
    box-shadow: 0 2px 3px 0px #e2e2e2;
    border: 1px solid lightgray;
    border-top: 1px solid #90d05f;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

header {
    font-size: 40px;
    font-weight: lighter;
}

p {
    margin: 0px;
    padding: 10px;
    column-count: 1;

}

@media screen and (min-width: 720px) {
    p {
        column-count: 2;
    }
}

@media screen and (min-width: 1000px) {
    p {
        column-count: 3;
    }
}

footer {
    text-align: right;
}


